<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aliyun-emas-analytics" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>XRAnalytics</name>
  <keywords>cordova,aliyun,emas,aliyunsdk,analytics,tlog,crash</keywords>
  <!--<engines>-->
  <!--<engine name="cordova-android" version=">=5.0.0" />-->
  <!--</engines>-->
  <js-module name="XRPreference" src="www/XRPreference.js">
    <clobbers target="XRPreference"/>
  </js-module>
  <js-module name="XRRemoteLog" src="www/XRRemoteLog.js">
    <clobbers target="XRLog"/>
  </js-module>
  <dependency id="cordova-plugin-cocoapod-support"/>
  <platform name="ios">
    <hook src="scripts/before_prepare_ios.js" type="before_prepare"/>
    <!--插件安装时config.xml配置文件项目位置-->
    <config-file parent="/*" target="config.xml">
      <feature name="XRPreference">
        <param name="ios-package" value="XRPreference"/>
      </feature>
      <feature name="XRRemoteLog">
        <param name="ios-package" value="XRRemoteLog"/>
      </feature>
    </config-file>
    <header-file src="src/ios/XRPreference.h"/>
    <source-file src="src/ios/XRPreference.m"/>
    <header-file src="src/ios/XRRemoteLog.h"/>
    <source-file src="src/ios/XRRemoteLog.m"/>
    <pods-config ios-min-version="8.0" use-frameworks="true">
      <source url="https://github.com/CocoaPods/Specs.git"/>
      <source url="https://github.com/aliyun/aliyun-specs.git"/>
    </pods-config>
    <pod name="AlicloudAPM"/>
    <pod name="AlicloudCrash"/>
    <pod name="AlicloudTLog"/>
    <resource-file src="src/ios/AliyunEmasServices-Info.plist"/>
  </platform>
  <platform name="android">
    <hook src="scripts/before_prepare_android.js" type="before_prepare"/>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="XRPreference">
        <param name="android-package" value="org.apache.cordova.xrpreference.XRPreference"/>
      </feature>
      <feature name="XRRemoteLog">
        <param name="android-package" value="org.apache.cordova.xrremotelog.XRRemoteLog"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <source-file src="src/android/XRPreference.java" target-dir="src/org/apache/cordova/xrpreference"/>
    <source-file src="src/android/XRRemoteLog.java" target-dir="src/org/apache/cordova/xrremotelog"/>
    <framework src="build_extras.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/aliyun-emas-services.json" target-dir="/assets"/>
  </platform>
</plugin>
